body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #457b9d;
}

h1{
  color: #e63946;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
    color: #e63946;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom:10px;
  }
h3{
  color: #1d3557;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border: dotted #1D3557 8px;
  border-bottom:none;
  width: 8%;
  margin: 100px auto;
}
p{
font-family: 'Merriweather', serif;
line-height: 2;
}
.intro{
  width: 40%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.topContainer{
  background-color: #f1faee;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  right: 20px;

}
.bottom-cloud{
  position: absolute;
  left: 100px;
}
.circular{
  border-radius: 100%;}

  .middle-container{
margin: 100px 0;
}
.skill-row{
  width: 55%;
  margin:100px auto 150px auto;
  text-align: left;
}
.feels-img{
  width: 30%;
  float: left;
  margin-right: 30px;
}
.eflame-img{
  width: 30%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #f50000;
  background-image: -webkit-linear-gradient(top, #f50000, #691010);
  background-image: -moz-linear-gradient(top, #f50000, #691010);
  background-image: -ms-linear-gradient(top, #f50000, #691010);
  background-image: -o-linear-gradient(top, #f50000, #691010);
  background-image: linear-gradient(to bottom, #f50000, #691010);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 5px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #691010;
  background-image: -webkit-linear-gradient(top, #691010, #ff1f1f);
  background-image: -moz-linear-gradient(top, #691010, #ff1f1f);
  background-image: -ms-linear-gradient(top, #691010, #ff1f1f);
  background-image: -o-linear-gradient(top, #691010, #ff1f1f);
  background-image: linear-gradient(to bottom, #691010, #ff1f1f);
  text-decoration: none;
}
.bottom-container{
  background-color: #1D3557;
  padding: 50px 0px 20px 0px;
}
a{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:link {
  color: #457b9d;
}
.footer-link:visited {
  color: white;
}
.footer-link:hover{
  color: #f1faee;
}
.copyright{
  width: 70%;
  margin: auto;
}
